{! extend 'layout.html' !}
<!--
{!block top!}
<div class="alert alert-info"><span id="bebe" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-arrow-left"></i> Menu|{!=T('Last news')!}</span></div>
{!end!}
-->
<div class="span6 offset3">
{!=form!}
</div>
