{! extend 'layout.html' !}
{!block top!}
<script src="{!=URL('static','js/bower_components/jquery-bridget/jquery-bridget.js')!}"></script>
<script src="{!=URL('static','js/bower_components/ev-emitter/ev-emitter.js')!}"></script>
<script src="{!=URL('static','js/bower_components/desandro-matches-selector/matches-selector.js')!}"></script>
<script src="{!=URL('static','js/bower_components/fizzy-ui-utils/utils.js')!}"></script>
<script src="{!=URL('static','js/bower_components/get-size/get-size.js')!}"></script>
<script src="{!=URL('static','js/bower_components/outlayer/item.js')!}"></script>
<script src="{!=URL('static','js/bower_components/outlayer/outlayer.js')!}"></script>
<script src="{!=URL('static','js/bower_components/masonry/dist/masonry.pkgd.min.js')!}"></script>
<script src="{!=URL('static','js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')!}"></script>
<script src="{!=URL('static','js/bower_components/imagesloaded/imagesloaded.js')!}"></script>
<script src="{!=URL('static','js/bower_components/angular-masonry/angular-masonry.js')!}"></script>

<link rel="stylesheet"
      type="text/css"
      href="{!=URL('static','css/ngNews.css')!}">

<script src="{!=URL('static','js/ngNews/newsApp.js')!}"></script>
<script src="{!=URL('static','js/ngNews/enterDir.js')!}"></script>
<script src="{!=URL('static','js/ngNews/newsCtrl.js')!}"></script>
<script src="{!=URL('static','js/ngNews/newsModalCtrl.js')!}"></script>

<link rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous">
<link rel="stylesheet"
      type="text/css"
      href="{!=URL('static','css/ngNews.css')!}">
<div ng-app='newsApp'
     ng-controller="newsCtrl"
     ng-cloak>
<div class="alert alert-info">
  <i class="fa fa-arrow-left"></i>
  Menu|{!=T('Last news')!}

  <!-- DODAWANIE NEWSOW -->
  <i id="addNewsIcon"
     class="fa fa-plus"
     title="dodaj newsa"
     ng-click="updWin(-1, {'title': '',
                           'link': [''],
                           'description': ''})"></i>

  <input class="span3"
         pattern=".{3,}"
         ng-enter="search(keywords)"
         ng-model="keywords"
         placeholder="wyszukaj"
         data-placement="bottom"
         data-toggle="tooltip"
         id="searchbar"
         type="text">
  <select ng-model="fltr"
          id="searchfilter">
    <option value="">wszystko</option>
    <option value="news">wieści</option>
    <option value="wiki">artykuły wiki</option>
  </select>
</div>
{!end!}
<div class="container-fluid">
<!-- modal window do udoskonalenia -->
<style>
  .modal {
    width: auto !important;
    right: auto !important;
    bottom: auto !important;
    background-color: transparent !important;
    background color: none !important;
    left: 45% !important;
    border: 0px !important;
  }
</style>
<div class="alert alert-info" role="alert" ng-if=brak>{{brak}}</div>
<div id='msg'></div>
<div class="grid" masonry>
  <div class="newsItem masonry-brick col-xs-6 col-md-4 col-lg-3"
       ng-if="filter(news_item, fltr)"
       ng-repeat="news_item in news">
    <div class="news_header">
      <div class="news_icon"
           style="margin-top: 5px; margin-left: -5px; width: 45px; height: 45px;"
           ng-click="viewBtn($index)">
        <i ng-class="isWiki(news_item.slug, news_item.modified_on)"></i>
      </div>
      <div class="newsTitle">
        <div class="news_topic">
          <p>
            {{ news_item.title }}
          </p>
        </div>
      </div>
    </div>
    <div class="newsCont">
      <div ng-class="isVisible($index)">
        <!-- EDYCJA NEWSA -->
        <button type="button" class="btn btn-default btn-sm"
                ng-if="news_item.description"
                ng-click="updWin(news_item.id, news_item)">
          Edytuj
        </button>

        <!-- OKNO EDYCJI/DOANIA NEWSA -->
        <script id="newsModalContent.html"
                type="text/ng-template">
            <div class="modal-body"
                 style="max-height: 500px !important;">
            <form name="updateForm" ng-submit="news_item.id ? update(news_item) : add(news_item)">
                <div class="form-group">
                  <label>Tytuł:</label>
                  <input class="form-control"
                         ng-model="news_item.title"
                         ng-model-options="{ updateOn: 'submit' }"
                         required>
                  </input>
                </div> <!-- form-group -->
                <div class="form-group"
                  <label>Link:</label>
                  <div ng-repeat="link in news_item.link track by $index">
                  <input class="form-control"
                         type="url"
                         ng-model="news_item.link[$index]"
                         required>
                  </input>
                  <div class="icon-plus"
                          ng-show="$last"
                          ng-click="addNewLink()">
                  </div>
                  <div class="icon-minus"
                          ng-show="$last && $index != 0"
                          ng-click="removeLink()">
                  </div>
                </div>
                </div> <!-- form-group -->
                <div class="form-group"
                  <label>Treść:</label>
                  <textarea class="form-control"
                            rows="5"
                            ng-model="news_item.description"
                            ng-model-options="{ updateOn: 'submit' }"
                            required>
                  </textarea>
                </div> <!-- form-group -->

              <button class="btn btn-primary"
                      type="submit"
                      style="width: 100px;">
                Zapisz
              </button>
              <button class="btn btn-danger pull-right"
                      ng-click="remove()"
                      type="button"
                      style="width: 100px;">
                Usuń
              </button>
              <button class="btn btn-warning"
                      ng-click="cancel()"
                      type="button"
                      style="width: 100px;">
                Anuluj
              </button>
              </form>
            </div> <!-- modal-body -->
        </script>

        <!-- EDYCJA WIKI -->
        <button type="button"
                class="btn btn-default btn-sm"
                ng-if="news_item.slug">
          <a ng-href="{!=URL('default', 'wiki')!}/_edit/{{news_item.slug}}">
            Edytuj
          </a>
         </button>
      </div>
      <p>{{ news_item.description }}</p>
      <div ng-repeat="url in news_item.link track by $index" style="float:left;">
          <a ng-href={{url}} target="_blank" class="btn btn-info btn-xs" ng-if="!$first">
            Link {{$index}}
          </a>
          <br>
      </div>
      <a ng-href="{!=URL('default', 'wiki')!}/{{news_item.slug}}"
         ng-if="news_item.slug">
        <img ng-if="isOld(news_item.modified_on)"
             src="{!=URL('static', 'images/wiki_old.png')!}"/>
        <img ng-if="!isOld(news_item.modified_on)"
             src="{!=URL('static', 'images/wiki_new.png')!}"/>
      </a>
      <a ng-if="news_item.link"
         href={{news_item.link[0]}}
         target="_blank">
          <div class="snap"
               id="{{$index}}"
               ng-if="news_item.description && news_item.filename"
               ng-class="{snapshot: !($index == idx)}"
               ng-mouseenter="showIt($event)"
               ng-mouseleave="hideIt()">
          <img ng-src="{!=URL('default', 'download')!}/{{news_item.filename}}"/>
          <!--  <img ng-if="news_item.description"
                     ng-src="{!=URL('static', 'js/ngNews/abc.jpg')!}"/> -->
          </div>
          <div class="snap">
            <img ng-if="news_item.description && !news_item.filename"
                 ng-src="{!=URL('static', 'images/generating.png')!}"/>
          </div>
      </a>
    </div>
  </div>
</div> <!-- class="grid" masonry -->
</div>
</div>
