{!extend 'layout.html'!}
{!block top!}
<div class="alert"><i class="fa fa-arrow-left"></i> Menu|Statystyki systemu SAUTis</div>
{!end!}
{! import datetime!}
{!import time!}
{!from datetime import date, timedelta!}

<!-- statystyki -->
<script src="{!=URL('static','js/ngStats/statsApp.js')!}"></script>
<script src="{!=URL('static','js/ngStats/statsCtrl.js')!}"></script>
<script src="{!=URL('static','js/ngStats/orderObjectBy.js')!}"></script>

<link rel="stylesheet"
      href="{!=URL('static','statystyki/font-awesome-4.5.0/css/font-awesome.css')!}">

<!-- arkusze styli dla stats.html -->
<link rel="stylesheet"
      href="{!=URL('static','statystyki/statystyki.css')!}">

<!-- ui-select (tokeny w parametrach wyszukiwania)-->
<script src="{!=URL('static','statystyki/angular-sanitize/angular-sanitize.js')!}"></script>
<script src="{!=URL('static','statystyki/ui-select/select.js')!}"></script>
<link rel="stylesheet"
      href="{!=URL('static','statystyki/ui-select/select.css')!}">

<!-- ng-highcharts - wykresy -->
<script src={!=URL('static', 'statystyki/Highstock-4.2.3/js/highstock.js')!}></script>
<script src={!=URL('static', 'statystyki/Highstock-4.2.3/js/modules/exporting.js')!}></script>
<script src={!=URL('static', 'js/angular/ng-highcharts/highcharts-ng.js')!}></script>


<link rel="stylesheet"
      href="{!=URL('static','js/bower_components/bootstrap/dist/css/bootstrap.css')!}">

<div ng-app='statsApp'
     ng-controller="statsCtrl"
     ng-cloak>

  <!-- PANEL NAWIGACYJNY -->
  <ul class="my-nav">
    <li class="col-sm-3 col-lg-3 my-navbar">
      <span class="fa fa-search my-navbar-item"> Parametry wyszukiwania</span>
    </li>
    <li class="my-navbar">
      <span ng-disabled="!selectedProject"
            ng-click="getBugsByTime()"
            class="fa fa-line-chart my-nav-item my-navbar-item"> Przyrost zgłoszeń</span>
    </li>
    <li class="my-navbar">
      <span ng-disabled="!selectedProject"
            ng-click="getBugsResolutionTable()"
            class="fa fa-table my-nav-item my-navbar-item"> Rozwiązania-priorytety</span>
    </li>
    <li class="my-navbar">
      <span ng-disabled="!selectedProject"
            ng-click="getMainTable()"
            class="fa fa-list my-nav-item my-navbar-item"> Ogólne</span>
    </li>
  </ul>

  <!-- PANEL WYSZUKIWANIA -->
  <div class="col-sm-3 col-lg-3"
       style="border-right: thick double #333333; height: 100vh">

    <label for="projects">Projekt</label>
      <select id="projects"
              class="ui-select-container ui-select-multiple ui-select-bootstrap dropdown form-control ng-valid"
              ng-options="item as item.name for item in projects | orderObjectBy: 'id'"
              ng-model="selectedProject"
              ng-change="getProjectVersion(); selected.choosenVersion = []">
      </select>
  <div ng-show="versions.length > 0">
    <label>Wersja</label>
          <ui-select multiple ng-model="selected.choosenVersion">
            <ui-select-match>
              {{$item.version}}
            </ui-select-match>
            <ui-select-choices repeat="item in (versions | filter: $select.search)">
              <span ng-bind="item.version" style="white-space: normal"></span>
            </ui-select-choices>
          </ui-select>
  </div>
    <label>Status</label>
    <ui-select multiple ng-model="selected.status">
      <ui-select-match>
        {{$item.name}}
      </ui-select-match>
      <ui-select-choices repeat="item.id as item in (statusArray | filter: $select.search)">
        <span ng-bind="item.name"></span>
      </ui-select-choices>
    </ui-select>

    <label>Priorytet</label>
    <ui-select multiple ng-model="selected.priority">
      <ui-select-match>
        {{$item.name}}
      </ui-select-match>
      <ui-select-choices repeat="item.id as item in (priorityArray | filter: $select.search)">
        <span ng-bind="item.name"></span>
      </ui-select-choices>
    </ui-select>

    <br>
    
    <label>OD:</label>
    <input type="date"
           ng-model="startDate"
           style="width: auto">

    <br>

    <label>DO:</label>
    <input type="date"
           ng-model="endDate"
           style="width:auto">
  </div> <!-- class="col-lg-3" -->

  <!-- GŁÓWNY PANEL Z ZAWARTOŚCIĄ -->
  <div class="col-sm-9 col-lg-9">

  <!-- WYKRES -->
  <div ng-show="section=='chart'">
    <highchart id="chart1"
               config="chartConfig">
    </highchart>
  </div>

  <!-- TABELA -->
  <div ng-show="section=='table'">
    <table class="table table-bordered">
      <!-- WIERSZ TYTUŁOWY -->
      <tr>
        <td><span class="cl">close</span>/<span class="open">open</span></td>
        <td>LOW</td>
        <td>MEDIUM</td>
        <td>HIGH</td>
        <td>CRITICAL</td>
        <td>SUMA</td>
      </tr>
      <tr ng-repeat="(key, item) in bugsResolution">
        <td>
          {{ statusMap[key] }}<!-- status -->
        </td>
        <td ng-repeat="item in ['niski', 'sredni', 'wysoki', 'krytyczny']">
          <span class="cl">{{bugsResolution[key][item]['zamkniety']}}</span>
          /
          <span class="open">
            <span class="open">{{bugsResolution[key][item]['otwarty']}}</span>
        </td>
        <td>
          <span class="cl">{{tasksByStatus[key][0]}}</span>
          /
          <span class="open">{{tasksByStatus[key][1]}}</span>
        </td>
      </tr>
      <!-- WIERSZ PODSUMOWUJĄCY -->
      <tr>
        <td>SUMA</td>
        <td ng-repeat="item in ['niski', 'sredni', 'wysoki', 'krytyczny']">
          <span class="cl">{{tasksByPriority[item][0]}}</span>
          /
          <span class="open">{{tasksByPriority[item][1]}}</span>
        </td>
        <td>
          <span class="cl">{{allTasks[0]}}</span>
          /
          <span class="open">{{allTasks[1]}}</span>
        </td>
      </tr>
    </table>
  </div> <!-- ng-show="section=='table'" -->

  <!-- PODSUMOWANIE -->
  <div ng-show="section=='main'">
    <table class="table table-bordered" style="width: auto;">
      <tr>
        <td>Ilość zgłoszeń</td>
        <td>{{mainTable[0].ile_bugow}}</td>
      </tr>
      <tr>
        <td>Ilość wersji</td>
        <td>{{mainTable[0].ile_wersji}}</td>
      </tr><tr>
        <td>Ilość wersji TA1</td>
        <td>{{mainTable[0].ta1}}</td>
      </tr><tr>
        <td>Pozostałe wersje TA</td>
        <td>{{mainTable[0].ta}}</td>
      </tr>
    </table>
  </div> <!-- ng-show="section=='main'" -->
</div> <!-- class="col-sm-9 col-lg-9" -->
</div> <!-- ng-app -->
