{! extend 'layout.html' !}
{!block top!}
<div class="alert alert-info"><span id="bebe" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-arrow-left"></i> Menu|{!=T('User panel')!}</span></div>
{!end!}
<div class="span6 offset3">
	<h1>{!=T( request.args(0).replace('_',' ').capitalize() )!}</h1>
	<div id="web2py_user_form">{!=form!}</div>
  <div class="btn-group btn-group-vertical" style="width:200px;">
  	{!
  	if request.args(0)=='login':
  	    if not 'register' in auth.settings.actions_disabled:!}
            <button class="btn btn-mini" onclick="window.location='/atms/default/user/register';return false">{!=T('Register')!}</button>{!
  	    pass
  	    if not 'request_reset_password' in auth.settings.actions_disabled:!}
            <button class="btn  btn-mini" onclick="window.location='/atms/default/user/request_reset_password';return false">{!=T('Lost Password')!}</button>{!  	    pass
  	pass
  	!}
  </div>
</div>
{!block postscript!}
$('#bebe').tooltip({
	title: "{!=help_string!}",
	html: true,
	delay: { show: 500, hide: 100 }
});
{!end!}

{!block page_js!}
<script>
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{!if request.args(0)=='register':!}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{!elif request.args(0)=='change_password':!}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{!pass!}
</script>
{!end page_js!}
