{!extend 'layout.html'!}
{!block top!}
<div class="alert"><i class="fa fa-arrow-left"></i> Menu|ATMS Wiki</div>
<!-- <div id="menu-fixed-nav"/>
    <ul class="unstyled">
        <li><i class="fa fa-angle-up fa-5x" onclick="pageUp()"></i></li>
        <li><i class="fa fa-angle-down fa-5x" onclick="pageDown()"></i></li>
    </ul>
</div> -->
{!end!}
<div id="wiki_content" class="span6 offset3">
{!=content!}
</div>
<script type="text/javascript">
$(function() {
    if ($(".scroller-inner").height() > window.innerHeight) {
        // $(".appcontainer").css("height", "auto");
        // $(".appcontainer").css("overflow", "visible");
    }
});
    function pageUp() {
        $('#wiki_content').animate({scrollTop: 0}, {
                            duration: 800,
                            easing:   "easeOutExpo"
                        });
    };
    function pageDown() {
        $('#wiki_content').animate({scrollTop: $(".scroller-inner").height()*0.9}, {
                            duration: 800,
                            easing:   "easeOutExpo"
                        });
    };
</script>
