.box {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    box-shadow: 0 2px 2px -2px #CCCCCC;
    margin-bottom: 20px;
}
.box .box-header, .box .box-footer {
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0%,#FDFDFD), color-stop(100%,#EAEAEA));
    background: -moz-linear-gradient(center top , #FDFDFD, #EAEAEA) repeat scroll 0 0 / 100% auto #EAEAEA;
    border-bottom: 1px solid #CDCDCD;
    color: #636363;
    font-weight: 600;
    text-shadow: 0 1px #FFFFFF;
}
.box .box-header:before, .box .box-header:after, .box .box-footer:before, .box .box-footer:after {
    content: "";
    display: table;
    line-height: 0;
}
.box .box-header:after, .box .box-footer:after {
    clear: both;
}
.box .box-header .title, .box .box-footer .title {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
}
.box .box-header .box-toolbar, .box .box-footer .box-toolbar {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.box .box-header .box-toolbar .ibutton-container, .box .box-footer .box-toolbar .ibutton-container {
    margin-top: 6px;
}
.box .box-header .box-toolbar > li, .box .box-footer .box-toolbar > li {
    color: #636363;
    float: left;
    font-size: 12px;
    line-height: 37px;
    margin-left: 15px;
    padding-right: 10px;
    position: relative;
}
.box .box-header .box-toolbar > li ul, .box .box-footer .box-toolbar > li ul {
    left: auto;
    right: 0;
}
.box .box-header .box-toolbar > li.toolbar-link, .box .box-footer .box-toolbar > li.toolbar-link {
    padding-right: 0;
}
.box .box-header .box-toolbar > li.toolbar-link > a, .box .box-footer .box-toolbar > li.toolbar-link > a {
    border-left: 1px solid #CECECE;
    display: block;
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
}
.box .box-header .box-toolbar > li.toolbar-link > a i, .box .box-footer .box-toolbar > li.toolbar-link > a i {
    font-size: 16px;
}
.box .box-header .box-toolbar > li.toolbar-link > a:hover, .box .box-footer .box-toolbar > li.toolbar-link > a:hover {
    background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 / 100% auto #EFEFEF;
}
.box .box-header .box-toolbar > li.toolbar-link > a:active, .box .box-footer .box-toolbar > li.toolbar-link > a:active {
    background: none repeat scroll 0 0 #E5E5E5;
}
.box .box-header .box-toolbar > li > i, .box .box-footer .box-toolbar > li > i {
    font-size: 14px;
    height: 37px;
    line-height: 37px;
}
.box .box-header .box-toolbar > li.open > a, .box .box-footer .box-toolbar > li.open > a {
    background: none repeat scroll 0 0 #EEEEEE;
}
.box .box-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.box .box-footer {
    border-bottom: medium none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
}
.box .box-footer .pagination {
    margin: 10px 0;
}
.box .box-footer.flat {
    background: -moz-linear-gradient(center top , #FBFBFB, #F1F1F1) repeat scroll 0 0 / 100% auto #F1F1F1;
    border-top: medium none;
}
.box-list {
    list-style: none outside none;
    margin: 0;
}
.box-list > li {
    background: -moz-linear-gradient(center top , #FBFBFB, #F1F1F1) repeat scroll 0 0 / 100% auto #F1F1F1;
    border-bottom: 1px solid #DDDDDD;
    line-height: 24px;
    padding: 10px;
    text-shadow: 0 1px #FFFFFF;
}
.box-list > li:before, .box-list > li:after {
    content: "";
    display: table;
    line-height: 0;
}
.box-list > li:after {
    clear: both;
}
.box-list > li:last-child {
    border-bottom: medium none;
}
.box-list .fields li {
    line-height: 23px;
}
.box-section {
    -moz-box-sizing: border-box;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FFFFFF;
    margin-left: 0;
    margin-right: 0;
    padding: 15px;
}
.box-section:last-child {
    border-bottom: medium none;
}

.box .box-header .nav {
    margin-bottom: 0;
}
.box .box-header .nav-tabs + .title {
    float: right;
}
.box .box-header .nav-tabs {
    border-bottom: medium none;
}
.box .box-header .nav-tabs > .active > a, .box .box-header .nav-tabs > .active > a:hover {
    background: none repeat scroll 0 0 #FBFBFB;
    border-left-color: #DDDDDD;
    border-radius: 0;
    border-right-color: #DDDDDD;
    border-top-color: rgba(0, 0, 0, 0);
}
.box .box-header .nav-tabs.nav-tabs-left {
    float: left;
}
.box .box-header .nav-tabs.nav-tabs-left li:first-child a {
    border-left: 0 none;
    border-top-left-radius: 3px;
}
.box .box-header .nav-tabs.nav-tabs-right {
    float: right;
}
.box .box-header .nav-tabs.nav-tabs-right li:last-child a {
    border-right: 0 none;
    border-top-right-radius: 3px;
    margin-right: 0;
}
.box .box-header .nav > li > a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
.box-header .tooltip {
    line-height: 20px !important;
    text-shadow: none;
}
.box-header .progress {
    margin-top: 15px;
}
.box-header .input-with-submit input {
    margin-bottom: 0;
    margin-top: 5px;
}


.padded {
    padding: 4px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
/*----------------------------------TABELA---------------------------------*/
.table-normal {
    color: #5A6573;
    margin-bottom: 0;
}
.table-normal tbody td, .table-normal thead td {
    border-left: 1px solid #EAEBEF;
}
.table-normal tbody td:first-child, .table-normal thead td:first-child {
    border-left: medium none;
}
.table-normal tbody td {
    border-top: 1px solid #EAEBEF;
}
.table-normal thead td {
    background: -moz-linear-gradient(center top , #FDFDFD, #EAEAEA) repeat scroll 0 0 / 100% auto #EAEAEA;
    border-bottom: 1px solid #D1D2DA;
    border-left: 1px solid #D1D2DA;
    border-right: 1px solid #D1D2DA;
    color: #666666;
    font-size: 12px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    padding: 3px 5px 2px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.table-normal thead td:first-child {
    border-left: medium none;
}
.table-normal thead td:last-child {
    border-right: medium none;
}
.table-normal tbody td {
    padding: 7px 11px;
    vertical-align: middle;
}
.table-normal tbody tr {
    border-top: 1px solid #EAEBEF;
}
.table-normal tbody tr:nth-child(2n) {
    background: none repeat scroll 0 0 #F3F4F8;
}
.table-normal .icon {
    text-align: center;
    width: 30px;
}


#thead_field{ background: -moz-linear-gradient(center top , #FDFDFD, #EAEAEA) repeat scroll 0 0 / 100% auto #EAEAEA;
    border-bottom: 1px solid #D1D2DA;
   /* border-left: 1px solid #D1D2DA;*/
    border-right: 1px solid #D1D2DA;
    color: #666666;
    font-size: 12px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    padding: 3px 5px 2px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}


/*  Drop down menu*/

#dropdown_btn{-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;

    font-weight: normal;
}



/*dddddddddddddddddddddddddddddd*/
#li{background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   /* display: none;*/
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: fixed;
    top: 100%;
    z-index: 1000;

}

.icon-remove  {
  color:#8B2323;
  cursor: pointer;

}

.icon-ok  {
   color:#008000;
   cursor: pointer;
}



svg {
  font: 10px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: .8px;
}

.x.axis path {
  stroke: #000;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .5;
}

.y.axis line {
  stroke: #ddd;
}

path.line {
  fill: none;
  stroke: #1b1b1b;
  stroke-width: 1px;
}

path.line2 {
  fill: none;
  stroke: green;
  stroke-width: 1px;
}

rect.pane {
  cursor: ew-resize;
  fill: none;
  pointer-events: all;
}

.grid .tick {
  fill: none;
  stroke: lightgray;
  opacity: 0.8;
    /*stroke: white;
    opacity: 0.9;*/
    stroke-width: 0.2px;
}
.grid path {
      stroke-width: 0;
}
/* style do input type="date" */
  input[type="date"]::-webkit-calendar-picker-indicator{
    /* Your CSS here */
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-clear-button {
    display: none;
}
  .my-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.my-navbar {
    float: left;
}

.my-navbar-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.my-nav-item:hover {
    background-color: #F39200;
    cursor: pointer;
}
/* zawijanie tekstu */
.ui-select-bootstrap .ui-select-choices-row > a{
  white-space: normal;
}
.ui-select-bootstrap .ui-select-match-item{
white-space: normal;
}

/* zamkniete/otwarte taski do tabeli rozwiazania-priorytety */
.cl {
color: green;
}
.open {
color: red;
}
