/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(images/text-height.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(images/level-down.png); 
}
.markItUp .markItUpButton3 a {
	background-image:url(images/resize-vertical.png); 
}
.markItUp .markItUpButton4 a {
	background-image:url(images/bold.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(images/italic.png); 
}
.markItUp .markItUpButton6 a {
	background-image:url(images/strikethrough.png); 
}
.markItUp .markItUpButton7 a {
	background-image:url(images/list-ul.png); 
}
.markItUp .markItUpButton8 a {
	background-image:url(images/list-ol.png);
}
.markItUp .markItUpButton9 a {
	background-image:url(images/italic.png);
}
.markItUp .markItUpButton9 a {
	background-image:url(images/picture.png);
}
.markItUp .markItUpButton10 a {
	background-image:url(images/th-large.png);
}

.markItUp .markItUpButton11 a {
	background-image:url(images/link.png); 
}
.markItUp .markItUpButton12 a {
	background-image:url(images/table.png);
}

.markItUp .markItUpButton13 a	{
	background-image:url(images/quote-right.png);
}
.markItUp .markItUpButton14 a	{
	background-image:url(images/code.png);
}