.fc-view-container table {
  margin: 0px;
}
.ts_tab_header {
  background: none repeat scroll 0 0 #4c4f53;
  color: #fff;
  height: 34px;
  line-height: 34px;
  padding: 0;
  line-height: 34px;
}
.ts_sideTabslSlideUp {
  /* transition: 0.2s linear all;
    height: 600px;
    overflow: hidden;*/
  border: 1px solid #ddd;
}

/*
.ts_sideTabslSlideUp.ng-hide {
    height:0;
}*/

.fc-event {
  border-radius: 0px;
  border: none;
}

/*.fc-time{
  display: none
}*/

.fc-day-grid-event > .fc-content {
  white-space: normal;
  /*nowrap; */
}
.fc-title {
  margin: 2px;
  font-size: 12px;
  font-weight: bold;
  /*height: 30px
  word-break:*/
}
.fc-subtitle {
  font-size: 12px;
  /*font-weight: 200*/
}
.fieldHeader {
  border-bottom: 1px dashed #CCCCCC;
}
.fieldPointer {
  cursor:pointer
}
