#myTab li:hover {
  cursor: pointer;
}
.myFlash {
  /*  background: linear-gradient(to right, #356635 0%, #356635 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  border: 2px solid #eee;
  /*border-radius: 8px;*/
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 0 0 10px 10px;
  min-width: 280px;
  opacity: 0.90;
  padding: 10px;
  position: fixed;
  right: 50px;
  top: 60px;
  vertical-align: middle;
  z-index: 5000;
}
.flash-success {
  background: linear-gradient(to right, #356635 0%, #356635 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.flash-error {
  background: linear-gradient(to right, #953b39 0%, #953b39 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.flash-info {
  background: linear-gradient(to right, #305d8c 0%, #305d8c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.flash-warning {
  background: linear-gradient(to right, #826430 0%, #826430 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.myFlash.ng-hide-remove {
  /*-webkit-animation: bounceIn 2.5s;
  animation: bounceIn 2.5s;*/
  display: block;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation: fadeInRight 1s;
}
.successFlash.ng-hide-add {
  display: block;
}
.modal-content .btn {
  width: 100px;
}
#myinput {
  background: none repeat scroll 0 0 #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  box-shadow: none;
  color: #404040;
  display: block;
  font: 13px/29px "Open Sans", Helvetica, Arial, sans-serif;
  height: 26px;
  outline: 0 none;
  padding: 4px 10px;
  padding-left: 36px;
  width: 100px;
}
#myinput:focus {
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #5d98cc;
}
