.stattable .project_row i {
  cursor: pointer
}
.stattable th {
  width: 150px;
  background: none repeat scroll 0 0 #4c4f53;
  border-left: 1px solid #fff;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 2px 5px;
  font-size: 14px;
}
.stattable th:first-child {
  width: 300px;
  background-color: white;
}

/* , .stattable thead tr th:first-child    */

.stattable tbody tr td:first-child {
  background: none repeat scroll 0 0 #4c4f53;
  border-top: 1px solid #fff;
  color: #fff;
  min-width: 300px;
  /* 250 */
}
.stattable tbody tr td:first-child i {
  color: #5d98cc;
}
.stattable tbody tr:not(:first-child) td:first-child {
  background: #468847;
}
.stattable tbody td:not(:first-child) {
  border-left: 1px dashed #4c4f53;
}
.stattable tbody tr:first-child {
  border-top: 1px solid #4c4f53;
}
.stattable tbody tr:not(:first-child) {
  border-top: 1px dashed #4c4f53
}
.stattable .active {
  background-color: #C0C0C0;
}
.stattable .sum {
  background: repeating-linear-gradient( 135deg, rgba(190, 190, 190, 0.3), rgba(190, 190, 190, 0.3) 4px, #FFF 4px, #FFF 8px);
  /*#BEBEBE*/
}
.stattable tbody:last-child {
  border-bottom: 1px solid #4c4f53
}
.stattable td {
  text-align: center;
}
.picker__box {
  width: 400px;
}
.picker__frame {
  width: 400px;
}
.picker--opened .picker__frame {
  top: 50px;
}
.usersTable {
  position: relative;
  width: 98%;
  margin: auto;
  overflow: auto;
  min-height: 98%;
  height: 98%;
}
.sumCol {
  min-width: 100px;
  border-right: 1px solid #4c4f53;
}
