.pagination {
  border-radius: 2px;
  display: inline-block;
  margin: 18px 0;
  padding-left: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a, .pagination > li > span {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #3276b1;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  margin-left: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background-color: #eee;
  border-color: #ddd;
  color: #214e75;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #3276b1;
  border-color: #3276b1;
  color: #fff;
  cursor: default;
  z-index: 2;
}
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  background-color: #fff;
  border-color: #ddd;
  color: #999;
  cursor: not-allowed;
}
.pagination-lg > li > a, .pagination-lg > li > span {
  font-size: 17px;
  padding: 10px 16px;
}
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pagination-sm > li > a, .pagination-sm > li > span {
  font-size: 12px;
  padding: 5px 10px;
}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.stattable .project_row i {
  cursor: pointer
}
.stattable th {
  width: 100px;
  background: none repeat scroll 0 0 #4c4f53;
  border-left: 1px solid #fff;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 2px 5px;
  font-size: 14px;
}
.stattable th:first-child {
  width: 300px;
  background-color: white;
}
.stattable tbody tr td:first-child {
  background: none repeat scroll 0 0 #4c4f53;
  border-top: 1px solid #fff;
  color: #fff;
}
.stattable tbody tr td:first-child i {
  color: #5d98cc;
}
.stattable tbody tr:not(:first-child) td:first-child {
  background: #468847;
}
.stattable tbody td:not(:first-child) {
  border-left: 1px dashed #4c4f53;
}
.stattable tbody tr:first-child {
  border-top: 1px solid #4c4f53;
}
.stattable tbody tr:not(:first-child) {
  border-top: 1px dashed #4c4f53
}
.stattable .active {
  background-color: #C0C0C0;
}
.stattable .sum {
  background: repeating-linear-gradient( 135deg, #BEBEBE, #BEBEBE 4px, #FFF 4px, #FFF 8px);
}
.stattable tbody:last-child {
  border-bottom: 1px solid #4c4f53
}
.stattable td {
  text-align: center;
}
.picker__box {
  width: 400px;
}
.picker__frame {
  width: 400px;
}
.picker--opened .picker__frame {
  top: 50px;
}
