/** Mixin scrollbar */
/** Call the damn thing */

html, body, .perspective {
    width: 100%;
    height: 100%;
}

.perspective {
    position: relative;
}

.main-container {
    background: #fff;
    min-height: 100%;
    position: relative;
    outline: 1px solid rgba(0,0,0,0);
    z-index: 10;
}

.main-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    opacity: 0;
    background: rgba(0,0,0,0.2);
    /* the transition delay of the height needs to be synced with the container transition time */
    -webkit-transition: opacity 0.4s, height 0s 0.4s;
    transition: opacity 0.4s, height 0s 0.4s;
}

/*.scroller-inner {
  min-height: 100%;
  overflow-x: hidden;
}*/

.animate .main-container::after {
    opacity: 1;
    height: 100%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.wrapper {
    position: relative;
}

/* menu trigger */
#menu-trigger {
    height: 40px;
    width: 10px;
    position: absolute;
    z-index: 100;
}

#menu-fixed-nav {
    position: fixed;
    top: 60px;
    left: 40px;
}

#menu-fixed-nav i {
    opacity: 0.1;
    -webkit-transition: opacity 0.3s, color 1s;
    transition: opacity 0.3s, color 1s;
}

#menu-fixed-nav i:hover {
    color: #005580;
    opacity: 1;
}



/* Outer Nav */
.perspective .nav-holder {
    position: absolute;
    height: auto;
    z-index: -11;
}

.perspective.animate .nav-holder {
    z-index: 11;
}

.nav-holder {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.nav-holder.left {
    left: 20px;
}

.nav-holder .dropdown .caret,
.nav-holder .dropdown2 .caret {
    display: none;
}

.nav-holder a,
.nav-holder .dropdown-menu a {
    display: inline-block;
    white-space: nowrap;
    font-family: "Open Sans Condensed";
    font-size: 2em;
    margin: 10px;
    width: 200px;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.nav-holder .dropdown-menu {
    position: absolute;
    top: 0%;
    left: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0;
    margin: 0px 0 0;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid #CCC;
    border-top-style:none;
    border-right-style:none;
    border-bottom-style:none;
    border-left-style:solid;
}

.effect01 .nav-holder div.extra_menu {
    position: relative;
    left: 5%;
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: -webkit-transform 1s, opacity 0.4s;
    transition: transform 1s, opacity 0.4s;
    border: 5px solid #CCC;
    border-right-style:none;
    border-bottom-style:none;
    border-left-style:solid;
    padding-bottom: 50px;
}

.effect01.animate .nav-holder div.extra_menu {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.nav-holder .extra_menu a:hover,
.nav-holder .extra_menu a:focus,
.nav-holder>.nav>li>a:hover,
.nav-holder>.nav>li>a:focus,
.nav-holder .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a:focus,
.nav-holder .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a:hover {
    background-color: rgba(255,255,255,0.0);
    background-image: none;
    text-shadow:
        0 0 1em #F39200,
        0 0 2em #F39200,
        0 0 0.2em #FFFFFF;
}

.nav-holder.vertical a {
    display: block;
}

.nav-holder a::before {
    display: inline-block;
    speak: none;
    text-transform: none;
    line-height: 1;
    margin-right: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Modal view */
.perspective.modalview {
    position: fixed;
    /*-webkit-perspective: 2000px;
    perspective: 2000px;*/
}

.modalview .main-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*.modalview .wrapper {
    -webkit-transform: translateZ(-1px);
}*/

/* EFFECT */
.effect01 {
    background-color: #F39200;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.effect01.animate {
    background-color: #b3b3b3;
}

.effect01 .main-container {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.effect01.animate .main-container {
    -webkit-transform: translateZ(-1000px) translateX(40%) rotateY(-25deg);
    transform: translateZ(-1000px) translateX(40%) rotateY(-25deg);
}

.effect01 .nav-holder a {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.effect01.animate .nav-holder a {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
