.newsTitle {
  display: table-cell;
  width: 100%;
  padding: 0px 0px 0px 20px;
  vertical-align: middle;
  top: 10px;
}
.newsItem {
  margin-top: 5px;
  margin-bottom: 5px;
  position: absolute;
}
.newsCont {
  border-color: #b3e6ff;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
}
#searchbar {
  position: absolute;
  right: 135px;
  margin: 0px;
  top: 10px;
  border: none;
  width: 250px;
}
#addNewsIcon {
  position: absolute;
  right: 390px;
  margin: 0px;
  top: 20px;
  border: none;
}
#searchfilter {
  position: absolute;
  right: 10px;
  margin: 0px;
  top: 10px;
  width: 120px;
  border: none;
}
#wrap {
  width: 600px;
  height: 390px;
  padding: 0;
  overflow: hidden;
}
#frame {
  width: 800px;
  height: 520px;
  border: 1px solid black;
}
#frame {
  -ms-zoom: 0.80;
  -moz-transform: scale(0.80);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.80);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.80);
  -webkit-transform-origin: 0 0;
}
fieldset {
  background: #FCFCFC;
  padding: 16px;
  border: 1px solid #D5D5D5;
}
.addfields {
  margin: 10px 0;
}
#choicesDisplay {
  padding: 10px;
  background: rgb(227, 250, 227);
  border: 1px solid rgb(171, 239, 171);
  color: rgb(9, 56, 9);
}
.remove {
  background: #C76868;
  color: #FFF;
  font-weight: bold;
  font-size: 21px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 4px 9px;
  vertical-align: top;
  line-height: 100%;
}
input[type="text"], select {
  padding: 5px;
}
.news_icon:hover{
  background-color:orange;
  border-color: darkorange;
  width: 60px;
  height: 60px;
}
