#dropbox{
	position: relative;
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
}


#dropbox .message{
	font-size: 11px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
	color:#ccc;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/

.customFile{	
	background-image: url('../img/unknown.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	width: 115px;
	height:70px;
}

.msword {
	background-image: url('../img/file-word.png');
}

.msxls {
	background-image: url('../img/file-excel.png');
}

.pdf {
	background-image: url('../img/file-pdf.png');
}

.code {
	background-image: url('../img/file-css.png');
}

#dropbox .preview{
	width:  128px;
	height: 130px;
	float:left;
	margin: 15px 0 15px 10px;
	position: relative;
	text-align: center;
}

#dropbox .preview > p {
    white-space: nowrap;
    width: 100%;
    font-size: 9px;
    text-align: center;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow:    ellipsis;
}

#dropbox .preview img{
	max-width: 115px;
	max-height:70px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	height:8px;
	width:100%;
	left:0;
	bottom: 0;
}

#dropbox .progress{
	background-image: linear-gradient(to bottom, #2586d0, #2586d0);
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	bottom:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}
