{!extend 'layout.html'!}
{!block top!}
<div class="alert alert-error" style="margin-bottom: 0;"><i class="fa fa-arrow-left"></i> Menu|{!="ATMS "+version!}</div>
{!end!}
<div id="isle" style="width:100%;min-height:100px;"></div>
<base href="{!=scheme+'://'+host+'/atms/static/js/atms/'+build+'/'!}"></base>
<script type="text/javascript">
const gWsServer = '{!=settings.ws_client + "/"!}';
$(function() {
  $(window).resize(function() {
    $('#isle').height($(window).height() - $('.alert').height() - 20);
  });

  $(window).resize();

  $('body').on('mouseover', 'a.fancybox', function() {
    $('a.fancybox').click(function() {
      $('a.fancybox').fancybox();
    });
  });
});
</script>
<script type="text/javascript" src="script/atms.js" async=""></script>
