<link href="{!=URL('static','css/ngTimesheet/calendar.css')!}"
			rel="stylesheet"
			type="text/css">
<div id="msg"></div>
<div ng-controller="calendarCtrl"
		 ng-init="flaga=true">
  <!-- style="position:fixed; z-index:1000; left:1%; top:113px; width:23%" -->
  <div class="span3"
			 style="padding-left:10px;">
    <div class="ts_tab_header">
      <div ng-click="select_side_tab('event')"
					 class="fieldPointer">
        <i class="fa fa-calendar-o"
					 style="margin-left:10px">
				</i>
        Nowe Zadanie
      </div>
    </div>
    <div class="ts_sideTabslSlideUp ng-scope ng-animate"
				 ng-show="side_menu_selected_tab=='event'"
				 style="padding:10px">
      <div class="fieldHeader">
        Projekt
      </div>
      <br>
      <label class="ts_select">
        <select ng-model="selected_project"
								ng-options="project as project.name for project in projects | filter:{visible:true} track by project.id">
					{{project.name}}
				</select>
      </label>

      <div class="fieldHeader">
				Zadanie
			</div>
      <br>
      <label class="ts_select">
        <select ng-model="selected_task"
								ng-options="task as task.name for task in task_for_selected_project | filter:{visible:true} track by task.id">
				  {{task.name}}
				</select>
      </label>

      <div ng-click="display_decription =!display_decription"
					 class="fieldHeader">
        Opis
      </div>
      <br>
      <label class="ts_select">
						 <!-- ng-show="display_decription" -->
        <textarea cols="50"
									ng-model="description"
									placeholder="Opis zadania"
									rows="1">
				</textarea>
      </label>
			<div class="span5">
        <div class="fieldPointer fieldHeader">
          Rozpoczęcie:
        </div>
        <span first-h="9"
							first-m="0"
							hour="begin_hour"
							minute="begin_min"
							mytimepicker style="display:inline;">
				</span>
      </div>

      <div class="span5"
					 style="float: right;">
        <div class="fieldPointer fieldHeader">
          Czas trwania:
        </div>
        <span first-h="0"
							first-m="0"
							hour="duration_hour"
							minute="duration_min"
							mytimepicker
							style="display:inline;">
				</span>
      </div>

      <div style="background:#F3F3F3;clear: both; height:50px;margin-top:10px; border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;margin-left:-10px;margin-right:-10px;padding:10px">

        <button class="btn btn-default btn-small pull-right"
								ng-click="addEvent()"
								style="width:100px;color: #08c;">
          <i class="fa fa-plus-circle"
						 style="margin-right:4px">
					</i>
          Dodaj
        </button>
      </div>
    </div>

    <div style="height:1px;background:white">
		</div>
    <div class="ts_tab_header">
      <div ng-click="select_side_tab('filter')"
					 class="fieldPointer">
        <i class="fa fa-filter"
					 style="margin-left:10px">
				</i>
        Filtr
      </div>
    </div>
    <div class="ts_sideTabslSlideUp"
				 ng-hide="side_menu_selected_tab!='filter'"
				 style="padding:10px">
      <!-- ng-scope ng-animate-->

      <div class="fieldHeader">
        Projekt
      </div>
      <br>
      <label class="ts_select">
        <select multiple name="filterproject"
								ng-model="filter_projects"
								ng-options="project as project.name for project in projects | filter:{visible:true} track by project.id"
								size="5"
								style="height:100px">
          {{project.name}}
        </select>
      </label>

      <div class="fieldHeader">
        Zadanie
      </div>
      <br>
      <label class="ts_select">
        <select multiple
								name="filtertask"
								ng-model="filter_tasks"
								ng-options="task as task.name for task in task_for_filtered_project | filter:{visible:true} track by task.id"
								size="5"
								style="height:100px">
          {{task.name}}
        </select>
      </label>

      <div ng-show="isAuthorized(userRoles.admin)"
					 class="fieldHeader">
        Użytkownicy
      </div>
      <br ng-show="isAuthorized(userRoles.admin)">
      <label class="ts_select"
						 ng-show="isAuthorized(userRoles.admin)">
        <select multiple
								name="filteruser"
								ng-model="filter_users"
								ng-options="user as user.first_name + ' ' + user.last_name for user in users | orderBy:'-is_active' track by user.id"
								size="5"
								style="height:100px">
          {{user.first_nam}}
          {{user.last_name}}
        </select>
      </label>

      <div style="background:#F3F3F3;clear: both; height:50px;margin-top:10px; border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;margin-left:-10px;margin-right:-10px;padding:10px">
        <button class="btn btn-default btn-small"
								ng-click="resetFilter()"
								style="width:50px;color: #08c;">
          <i class="fa fa-eraser"
						 style="margin-right:4px;color:#b94a48">
					</i>
        </button>
        <button class="btn btn-default btn-small pull-right"
								ng-click="runFilter()"
								style="width:100px;color: #08c;">
          <i class="fa fa-filter"
						 style="margin-right:4px">
					 </i>
          Filtruj
        </button>
      </div>
    </div>

    <div style="height:1px;background:white"></div>
    <div class="ts_tab_header"
				 ng-show="isAuthorized(userRoles.admin)">
      <div ng-click="openSettingsPanel()"
					 class="fieldPointer">
        <i class="fa fa-cogs"
					 style="margin-left:10px">
				</i>
        Ustawienia
      </div>
    </div>

  </div>

  <div ng-show="(no_assigned_events.length >0)"
			 style=" width: 22.3043%; position:fixed; bottom:50px; left:10px; z-index:10000; background:white; border: 1px solid #4c4f53;">
    <div style="padding:4px">
      <span class="fc-event-container"
						dragg
						item="value"
						ng-repeat="(key, value) in no_assigned_events">
        <a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable"
					 ng-mousedown="selectNewEvent(value);"
					 style="padding:2px; display:inline-block; color:{{value.textColor}}; background:{{value.backgroundColor}}">
          <div class="fc-content">
            {{value.title}}
            <span class="pull-right">
              <i class="fa fa-times"
								 ng-click="no_assigned_events.splice($index, 1); selectNewEvent(null);"
								 style="color:#b94a48; margin-left:5px">
							</i>
            </span>
						<br>
            {{value.subtitle}}
          </div>
        </a>
      </span>
    </div>

    <hr style="margin-top:2px;margin-bottom:2px">
    <input ng-model="remove_after_drop"
					 style="margin:4px"
					 type='checkbox'/>
    <span>
			Usuń po przesunięciu
		</span>
  </div>

  <!-- margin-left:25%;margin-right:10px;margin-bottom:20px; width:74% -->
  <div class="span9">

    <flashmessage></flashmessage>
    <div class="ts_tab_header">
      <i class="fa fa-calendar"
				 style="margin-left:10px">
			</i>
      Kalendarz
      <span class="pull-right"
						style="margin-right:10px">
        <button class="btn btn-default btn-small"
								ng-click="changeView('month', 'myCalendar')">
				  Miesiąc
				</button>
      </span>
      <span class="pull-right"
						style="margin-right:10px">
        <button class="btn btn-default btn-small"
								ng-click="changeView('agendaWeek', 'myCalendar')">
					Tydzień
				</button>
      </span>

    </div>
    <div style="height:25px; border-left:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px">
      <img ng-show="loading"
					 src="{!=URL('static','images/loading.gif')!}"
					 style="height:24px">
      <b>
				{{calendar_title}}
			</b>

      <span class="pull-right"
						style="margin-right:10px">
        <a class="btn btn-small btn-default"
					 ng-click="move('next')"
					 style="height:18px; padding-top:0px;">
          <i class="fa fa-arrow-right"
						 style="position: relative;top:-2px; color:#4c4f53;">
					</i>
        </a>
      </span>
      <span class="pull-right"
						style="margin-right:10px">
        <a class="btn btn-small btn-default"
					 ng-click="move('today')"
					 style="height:18px">
          <p style="position: relative;top:-2px; color:#4c4f53;">
						Dziś
					</p>
        </a>
      </span>
      <span class="pull-right"
						style="margin-right:10px">
        <a class="btn btn-small btn-default"
					 ng-click="move('prev')"
					 style="height:18px;padding-top:0px">
          <i class="fa fa-arrow-left"
						 style="position: relative;top:-2px; color:#4c4f53;">
					</i>
        </a>
      </span>
    </div>

    <div calendar="myCalendar"
				 ui-calendar="uiConfig.calendar"
				 fullcalendar
				 ng-model="eventSources">
		</div>

  </div>
  <!-- ui-calendar="uiConfig.calendar"  offset3-->
</div>
