{!extend 'layout.html'!}

<script src="{!=URL('static','js/bower_components/jquery.cookie/jquery.cookie.js')!}"
        type="text/javascript">
</script>

{!block top!}
<div class="alert alert-success"
     style="margin-bottom: 0;">
  <i class="fa fa-arrow-left">
  </i>
  Menu|TimeSheet
</div>
{!end!}

<!-- FULLCALENDAR -->
<script src="{!=URL('static','js/ngTimesheet/lib/jquery-ui.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/moment/moment.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/angular-ui-calendar/src/calendar.js')!}" type="text/javascript"></script>
<link href="{!=URL('static','js/bower_components/fullcalendar/dist/fullcalendar.css')!}" rel='stylesheet'/>
<link href="{!=URL('static','js/bower_components/fullcalendar/dist/fullcalendar.print.css')!}" media='print' rel='stylesheet'/>
<script src="{!=URL('static','js/bower_components/fullcalendar/dist/fullcalendar.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/fullcalendar/dist/lang-all.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/fullcalendar/dist/gcal.js')!}" type="text/javascript"></script>


<!-- <script type="text/javascript" src="{!=URL('static','js/fullcalendar/fullcalendar.min.js')!}"></script>

  <script type="text/javascript" src="{!=URL('static','js/fullcalendar/lib/jquery-ui.custom.min.js')!}"></script>-->

<!-- AngularJS -->

<script src="{!=URL('static','js/bower_components/angular-ui-router/release/angular-ui-router.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/angular-animate/angular-animate.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/angular-dialog-service/dist/dialogs.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/angular-bootstrap/ui-bootstrap.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/bootbox.js/bootbox.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/angular-ui-calendar/src/calendar.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/bower_components/angular-sanitize/angular-sanitize.js')!}" type="text/javascript"></script>

<script src="{!=URL('static','js/ngTimesheet/main.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/calendarCtrl.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/statisticsCtrl.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/summationCtrl.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/directives/mytimepickerDir.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/directives/dragDir.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/directives/flashmessageDir.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/factories/topmenuFac.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/factories/flashFac.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/factories/authserviceFac.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/providers/projectsPvd.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/providers/tasksPvd.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/providers/relationshipPvd.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/providers/eventsPvd.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/providers/usersPvd.js')!}" type="text/javascript"></script>

<script src="{!=URL('static','js/ngTimesheet/modalsCtrl.js')!}" type="text/javascript"></script>
<script src="{!=URL('static','js/ngTimesheet/modalsSettingsCtrl.js')!}" type="text/javascript"></script>

<link href="{!=URL('static','js/ngTimesheet/lib/bootstrap.css')!}" rel='stylesheet'/>

<link href="{!=URL('static','js/bower_components/jquery-minicolors/jquery.minicolors.css')!}" rel='stylesheet'/>

<script src="{!=URL('static','js/bower_components/jquery-minicolors/jquery.minicolors.js')!}" type="text/javascript"></script>

<script src="{!=URL('static','js/bower_components/angular-minicolors/angular-minicolors.js')!}" type="text/javascript"></script>

<script src="{!=URL('static','js/bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js')!}" type="text/javascript"></script>

<link href="{!=URL('static','css/ngTimesheet/angular-drag-and-drop-lists/simple.css')!}" rel='stylesheet'/>

<script src="{!=URL('static','js/bower_components/angular-native-datepicker/build/angular-datepicker.js')!}" type="text/javascript"></script>
<link href="{!=URL('static','js/bower_components/angular-native-datepicker/build/themes/default.css')!}" rel='stylesheet'/>
<link href="{!=URL('static','js/bower_components/angular-native-datepicker/build/themes/default.date.css')!}" rel='stylesheet'/>
<link href="{!=URL('static','js/bower_components/angular-native-datepicker/build/themes/default.time.css')!}" rel='stylesheet'/>

<script src="{!=URL('static','js/bower_components/ng-table/dist/ng-table.js')!}" type="text/javascript"></script>
<link href="{!=URL('static','css/ngTimesheet/ng-table.css')!}" rel='stylesheet'/>

<script src="{!=URL('static','js/bower_components/ng-csv/build/ng-csv.js')!}" type="text/javascript"/></script>

<link href="{!=URL('static','css/ngTimesheet/index.css')!}" rel="stylesheet" type="text/css">

<script src="{!=URL('static','js/bower_components/ngstorage/ngStorage.js')!}" type="text/javascript"></script>

<div ng-app="Timesheet"
     ng-controller="MainCtrl">
<br>
<ul class="nav nav-tabs ts_tab_header"
    id="myTab">
  <li ng-class="selected_tab=='/calendar' ? 'active': ''"
      ng-click="selected_tab='/calendar'">
    <a ng-href="#/calendar">
      <i class="fa fa-calendar">
      </i>
      Kalendarz
    </a>
  </li>

  <li ng-class="selected_tab=='/statystyki' ? 'active': ''"
      ng-click="selected_tab='/statystyki'">
    <a ng-href="#/statystyki">
      <i class="fa fa-table"></i>
      Statystyki
    </a>
  </li>

  <li ng-class="selected_tab=='/podsumowanie' ? 'active': ''"
      ng-click="selected_tab='/podsumowanie'">
    <a ng-href="#/podsumowanie">
      <i class="fa fa-list-alt">
      </i>
      Podsumowanie
    </a>
  </li>

</ul>

<div id="content"
     ui-view>
</div>

<!-- modal window do udoskonalenia -->
<style>
  .modal {
    right: auto !important;
    bottom: auto !important;
    background-color: transparent !important;
    background color: none !important;
    left: 45% !important;
  }
</style>

<script id="myModalContent.html"
        type="text/ng-template">
  <div class="modal-header">
    <h4 class="modal-title">
      Event:
      {{item.id}}
    </h4>
  </div>
  <div class="modal-body">
    <div>
      <label class="ts_select">
        <b>
          Autor:
        </b>
        <span style="margin-left:20px">
          {{user.first_name}}
          {{user.last_name}}
        </span>
      </label>
      <br>
      <label class="ts_select"
             style="float:left">
        <b>
          Rozpoczęcie:
        </b>
        <span first-h="first_begin_hour"
              first-m="first_begin_minute"
              hour="begin_hour"
              minute="begin_min"
              mytimepicker>
        </span>
      </span>
    </label>

    <label class="ts_select"
           style="float:left; margin-left:50px">
      <b>
        Czas Trwania:
      </b>
      <span first-h="first_duration_hour"
            first-m="first_duration_minute"
            hour="duration_hour"
            minute="duration_min"
            mytimepicker>
      </span>
    </span>
  </label>

  <label class="ts_select"
         style="float:left; margin-left:50px">
    <b>
      Opis Zadania:
    </b>
    <textarea class="ng-pristine ng-valid ng-touched"
              cols="20"
              ng-model="description"
              rows="3">
    </textarea>
  </label>
</div>

<div style="clear:both">
  <div style="border-bottom: 1px dashed #CCCCCC;">
    Projekt
  </div>
  <br>
  <label class="ts_select">
    <select ng-model="selected_project"
            ng-options="project as project.name for project in projects | filter:{visible:true} track by project.id">
      {{project.name}}
    </select>
  </label>
</div>
<div style=" border-bottom: 1px dashed #CCCCCC;">
  Zadanie
</div>
<br>
<label class="ts_select">
  <select ng-model="selected_task"
          ng-options="task as task.name for task in task_for_selected_project | filter:{visible:true} track by task.id">
    {{task.name}}
  </select>
</label>
</div>

</div>
</div>
<div class="modal-footer">
<button class="btn btn-danger pull-left"
        ng-click="remove()"
        style="width: 100px;">
  Usuń
</button>
<button class="btn btn-primary"
        ng-click="ok()"
        style="width: 100px;">
  Zapisz
</button>
<button class="btn btn-warning"
        ng-click="cancel()"
        style="width: 100px;">
  Anuluj
</button>
</div>
</script>

<script id="modalSettingsContent.html"
        type="text/ng-template">

<ul class="nav nav-tabs ts_tab_header modal-header"
    id="myTab"
    style="border-top:1px solid white;border-left:1px solid white;border-right:1px solid white;">
    <li ng-class="selectedTab=='projekty' ? 'active': ''"
        ng-click="selectedTab='projekty'">
      <a>
        <i class="fa fa-cloud">
        </i>
        Projekty
      </a>
    </li>

    <li ng-class="selectedTab=='zadania' ? 'active': ''"
        ng-click="selectedTab='zadania'">
      <a>
        <i class="fa fa-flag">
        </i>
        Zadania
      </a>
    </li>
</ul>
<div class="modal-body">
<div ng-show="selectedTab=='projekty'">
<div class="span4">
<div style=" border-bottom: 1px dashed #CCCCCC;">
  Projekt
</div>
<label class="ts_select"
       style="margin-top:10px">
  <select ng-model="selected_project"
          ng-options="project as project.name for project in projects track by project.id">
    {{project.name}}
  </select>
</label>

<div style=" border-bottom: 1px dashed #CCCCCC;">
  Edytuj
</div>
<label class="ts_select"
       style="margin-top:10px">
  <input ng-model="newProject.name"
         style="height:26px"
         type="text"/>
</label>

<label class="ts_select"
       style="margin-top:10px">
  <textarea class="ng-pristine ng-valid ng-touched"
            cols="26"
            ng-model="newProject.description"
            rows="1"
            style="width:300px">
  </textarea>
</label>

<label class="ts_select"
       style="margin-top:10px">
  <span style="float:left">
    <select ng-model="newProject.status"
            style="width:150px">
      <option>development</option>
      <option>obsolete</option>
      <option>release</option>
      <option>stable</option>
    </select>
  </span>
  <span style="float:left; margin-left:50px;vertical-align:middle;">
    <input ng-model="newProject.visible"
           type="checkbox">
    <span>
      Widoczny
    </span>
  </span>
</label>
<br>

<span style="float:left;clear:both">
  Tło
  <input id="myinput"
         minicolors
         ng-model="newProject.background"
         type="text"/>
</span>
<span style="float:left; margin-left:50px">
  Czcionka
  <input id="myinput"
         minicolors
         ng-model="newProject.color"
         type="text"/>
</span>

<div style="clear:both">
  <br>
  <button class="btn btn-success"
          ng-click="save()"
          style="width: 130px;">
    Zapisz zmiany
  </button>
  <button class="btn btn-danger"
          ng-click="add()"
          style="width: 130px;margin-left:30px">
    Nowy Projekt
  </button>
</div>
</div>

<div class="span3 simpleDemo"
     ng-repeat="(listName, list) in models.lists">
<div class="panel panel-info">
  <div class="panel-heading">
    <p class="panel-title">
      {{listName}}
    </p>
  </div>
  <div class="panel-body">
    <ul dnd-list="list"
        style="height:300px; overflow:scroll">

      <li dnd-draggable="item"
          dnd-effect-allowed="move"
          dnd-moved="list.splice($index, 1)"
          dnd-selected="models.selected = item"
          ng-class="{'selected': models.selected === item}"
          ng-repeat="item in list">
        {{item.name}}
      </li>
    </ul>

  </div>
</div>
</div>

</div>

<div ng-show="selectedTab=='zadania'">
<div class="span4">
<div style=" border-bottom: 1px dashed #CCCCCC;">
  Zadanie
</div>
<label class="ts_select"
       style="margin-top:10px">
  <select ng-model="selected_task"
          ng-options="task as task.name for task in tasks track by task.id">
    {{task.name}}
  </select>
</label>

<div style="border-bottom: 1px dashed #CCCCCC;">
  Edytuj
</div>
<label class="ts_select"
       style="margin-top:10px">
  <input ng-model="newTask.name"
         style="height:26px"
         type="text"/>
</label>

<label class="ts_select"
       style="margin-top:10px">
  <textarea class="ng-pristine ng-valid ng-touched"
            cols="26"
            ng-model="newTask.description"
            rows="1"
            style="width:300px">
  </textarea>
</label>

<label class="ts_select"
       style="margin-top:10px">
  <span style="float:left; vertical-align:middle;">
    <input ng-model="newTask.visible"
           type="checkbox">
    <span>
      Widoczny
    </span>
  </span>
</label>
<br>

<div style="clear:both">
  <br>
  <button class="btn btn-success"
          ng-click="savetask()"
          style="width: 130px;">
    Zapisz zmiany
  </button>
  <button class="btn btn-danger"
          ng-click="addtask()"
          style="width: 130px;margin-left:30px">
    Nowe Zadanie
  </button>
</div>

</div>

<div class="span3 simpleDemo"
     ng-repeat="(listName, list) in modelsTask.lists">
<div class="panel panel-info">
  <div class="panel-heading">
    <p class="panel-title">
      {{listName}}
    </p>
  </div>
  <div class="panel-body">
    <ul dnd-list="list"
        style="height:300px; overflow:scroll">
      <li dnd-draggable="item"
          dnd-effect-allowed="move"
          dnd-moved="list.splice($index, 1)"
          dnd-selected="modelsTask.selected = item"
          ng-class="{'selected': modelsTask.selected === item}"
          ng-repeat="item in list">
        {{item.name}}
      </li>
    </ul>
  </div>
</div>
</div>

</div>

</div>
<div class="modal-footer">
<button class="btn btn-warning"
        ng-click="cancel()"
        style="width: 100px;">
  Anuluj
</button>
</div>
</script>

</div>
