<div  ng-controller="statisticsCtrl">

	<link href="{!=URL('static','css/ngTimesheet/statistics.css')!}"
				rel="stylesheet"
				type="text/css">

	<div class="row"
			 style="padding:20px;height:100px">
		<div  style="width:200px;float:left;">
			<span style="width:30px;margin-left:10px">
				Od:
			</span>
			<!-- angular-datepicker (statisticsCtrl linia 136) -->
			<input style="width:150px;"
			 			 type="text"
					   pick-a-date="begin_date"
						 data-value="start_date"
						 placeholder="Wybierz date"
						 pick-a-date-options="options"/>
			<br>
			<span style="width:30px;margin-left:10px">
				Do:
			</span>
			<input style="width:150px;"
			 			 type="text"
						 pick-a-date="end_date"
						 data-value="start_date"
						 placeholder="Wybierz date"
						 pick-a-date-options="options"/>
		</div>
		<div  style="width:300px;float:left; ">
	        <label class="ts_select"
								 ng-show="isAuthorized(userRoles.admin)">
	             <select name="filteruser"
							 				 multiple size="5"
											 style="height:100px"
											 ng-options="user as user.first_name + ' '
											 						 + user.last_name for user in users
											 						 | orderBy:'-is_active' track by user.id"
											 ng-model="filtered_users">
								{{user.first_name}} {{user.last_name}}
							 </select>
	        </label>
		</div>

 		<button class="btn btn-default btn-small"
						ng-click="runFilter()"
						style="width:100px;color: #08c;">
			<i class="fa fa-filter"
				 style="margin-right:4px">
			</i>
			Filtruj
		</button>
	</div>
	<div class="row usersTable"
			 onscroll="angular.element(this).scope().myFunction(this) ">
		<table class="stattable">
			<thead id="usersheader"
						 style="top:240px; left:{{headersleft}};">
				<tr>
					<th style="opacity:0; width:170px; min-width:170px;">
					</th>
					<th ng-repeat="(key, value) in filtered_users">
								{{value.first_name}} {{value.last_name}}
								{{value.firstname}} {{value.lastname}}
					</th>
					<th class="sumCol">
						Suma
					</th>
				</tr>
			</thead>
			<tbody style="width:170px; min-width:170px; max-width:170px"
						 row
						 ng-repeat="(project, tasks) in table"
						 users="filtered_users"
						 project="project"
						 tasks="tasks">
			</tbody>
			<tbody>
				<tr>
					<td style="max-width: 100px;">
						Suma
					</td>
					<td class="sum"
							style="min-width:180px;"
							ng-repeat="(userkey, user) in filtered_users">
						{{sumByProject(user.id)}}
					</td>
					<td class="sum sumCol">
						{{sumAllProject}}
					</td>
				</tr>
			</tbody>

		</table>
	 </div>
</div>



<!--
<div class="row"  style="clear:both; overflow:auto;width:98%;margin:auto;">
	<table class="stattable" >
		<thead >
			<tr>
				<th></th>
				<th ng-repeat="(key, value) in filtered_users">{{value.first_name}} {{value.last_name}}</th>
				<th>Suma</th>
			</tr>
		</thead>

		<tbody row ng-repeat="(project, tasks) in table" users="filtered_users" project="project" tasks="tasks" ></tbody>

		<tbody >
			<tr>
				<td>Suma</td>
				<td class="sum" ng-repeat="(userkey, user) in filtered_users"> {{sumByProject(user.id)}}</td>
				<td class="sum" style="border-right: 1px solid #4c4f53;">{{sumAllProject}} </td>
			</tr>
		</tbody>

	</table>
</div>-->
