<div  ng-controller="summationCtrl">

	<link href="{!=URL('static','css/ngTimesheet/summation.css')!}"
				rel="stylesheet"
				type="text/css">

<div class="row"
		 style="margin:20px">
	<div class="span12" >
		<div class="span2">
			<br>
			<span style="width:30px;margin-left:10px">
				Od:
			</span>
			<input style="width:150px;"
						 type="text"
						 pick-a-date="begin_date"
						 data-value="start_date"
						 placeholder="Wybierz date"
						 pick-a-date-options="options" />
			<br>
			<span style="width:30px;margin-left:10px">
				Do:
			</span>
			<input style="width:150px;"
						 type="text"
						 pick-a-date="end_date"
						 data-value="start_date"
						 placeholder="Wybierz date"
						 pick-a-date-options="options" />
			<br><br>
			<button class="btn btn-default btn-small"
							style="width:50px;color: #08c;margin-left:20px"
							ng-click="resetFilter()">
        <i class="fa fa-eraser" style="margin-right:4px;color:#b94a48"></i>
			</button>

			<button class="btn btn-default btn-small"
							ng-click="getEvents()"
							style="width:100px;color: #08c;margin-left:20px">
				<i class="fa fa-filter"
					 style="margin-right:4px">
				</i>
				Filtruj
			</button>
		</div>

		<div class="span3">
			<div style=" border-bottom: 1px dashed #CCCCCC;">
				Projekt
			</div>
	    <br>
	    <label class="ts_select">
	      <select name="filterproject"
								multiple size="5"
								style="height:100px;"
								ng-options="project as project.name for project in projects | filter:{visible:true} track by project.id"
								ng-model="filter_projects">
					{{project.name}}
				</select>
	    </label>
		</div>
		<div class="span3">
			<div style=" border-bottom: 1px dashed #CCCCCC;">
				Zadanie
			</div>
      <br>
      <label class="ts_select">
        <select name="filtertask"
								multiple size="5"
								style="height:100px;"
								ng-options="task as task.name for task in tasks | filter:{visible:true} track by task.id"
								ng-model="filter_tasks">
					{{task.name}}
				</select>
      </label>
		</div>
		<div class="span3"
				 ng-show="isAuthorized(userRoles.admin)">
			<div style=" border-bottom: 1px dashed #CCCCCC;">
				Użytkownicy
			</div>
      <br>
      <label class="ts_select">
        <select name="filteruser"
								multiple size="5"
								style="height:100px;"
								ng-options="user as (user.first_name+' '+user.last_name) for user in users | orderBy:'-is_active' track by user.id"
								ng-model="filter_users">
					{{user.first_nam}} {{user.last_name}}
				</select>
      </label>
		</div>

	</div>

	<br>

	<div class="span12" style="margin-left:0px; margin-top:10px">
		<span>
			Suma: {{sumtime}} h
		</span>
		<span style="margin-left:100px">
			Opis:
			<input style="width:200px; margin-left:20px;height:24px"
						 type="text"
						 ng-model="customfilter.description" />
		</span>

		<span class="pull-right"
					style="width:100px">
			<button class="btn btn-default"
              ng-csv="getCSV()"
							lazy-load="true"
							filename="{{csvfilename}}.csv"
							field-separator="{{csvseparator}}"
              csv-header="csvHeader"
							charset="iso-8859-2">
				CSV
      </button>
		</span>
	</div>

	<table ng-table="tableParamsRes"
				 class="table">
		<thead>
			<th class="sortable"
				  ng-class="{
											'sort-asc': tableParamsRes.isSortBy('id', 'asc'),
											'sort-desc': tableParamsRes.isSortBy('id', 'desc')
										}"
					ng-click="tableParamsRes.sorting({'id' :
										tableParamsRes.isSortBy('id', 'asc') ? 'desc' : 'asc'})"
					rowspan="2">
					<div>
						{!=T('Id')!}
					</div>
			</th>
			<th class="sortable"
					ng-class="{
											'sort-asc': tableParamsRes.isSortBy('task.name', 'asc'),
											'sort-desc': tableParamsRes.isSortBy('task.name', 'desc')
										}"
				  ng-click="tableParamsRes.sorting({'task.name' :
										tableParamsRes.isSortBy('task.name', 'asc') ? 'desc' : 'asc'})"
					rowspan="2">
				<div>
					{!=T('Zadanie')!}
				</div>
			</th>

			<th class="sortable"
					ng-class="{
											'sort-asc': tableParamsRes.isSortBy('project.name', 'asc'),
											'sort-desc': tableParamsRes.isSortBy('project.name', 'desc')
										}"
					ng-click="tableParamsRes.sorting({'project.name' :
										tableParamsRes.isSortBy('project.name', 'asc') ? 'desc' : 'asc'})"
					rowspan="2">
				<div>
					{!=T('Projekt')!}
				</div>
			</th>

			<th ng-if="isAuthorized(userRoles.admin)" class="sortable"
					ng-class="{
											'sort-asc': tableParamsRes.isSortBy('user_id', 'asc'),
											'sort-desc': tableParamsRes.isSortBy('user_id', 'desc')
										}"
				  ng-click="tableParamsRes.sorting({'user.last_name' :
										tableParamsRes.isSortBy('user.last_name', 'asc') ? 'desc' : 'asc'})"
					rowspan="2">
				<div>
					{!=T('Użytkownik')!}
				</div>
			</th>

			<th class="sortable"
					ng-class="{
					  					'sort-asc': tableParamsRes.isSortBy('start', 'asc'),
											'sort-desc': tableParamsRes.isSortBy('start', 'desc')
										}"
				  ng-click="tableParamsRes.sorting({'start' :
										tableParamsRes.isSortBy('start', 'asc') ? 'desc' : 'asc'})"
					rowspan="2">
				<div>
					{!=T('Start')!}
				</div>
			</th>

			<th class="sortable"
				  ng-class="{
											'sort-asc': tableParamsRes.isSortBy('duration', 'asc'),
											'sort-desc': tableParamsRes.isSortBy('duration', 'desc')
										}"
					ng-click="tableParamsRes.sorting({'duration' :
										tableParamsRes.isSortBy('duration', 'asc') ? 'desc' : 'asc'})"
					rowspan="2">
				<div>
					{!=T('Czas trwania')!}
				</div>
			</th>

			<th class="sortable"
					ng-class="{
											'sort-asc': tableParamsRes.isSortBy('model_id', 'asc'),
											'sort-desc': tableParamsRes.isSortBy('model_id', 'desc')
										}"
					ng-click="tableParamsRes.sorting({'description' :
										tableParamsRes.isSortBy('description', 'asc') ? 'desc' : 'asc'})"
					rowspan="2">
				<div>
					{!=T('Description')!}
				</div>
			</th>
		</thead>

		<tbody ng-repeat="item in $data"
					 ng-if="item.visible">
			<tr>
				<td sortable="'id'"
						filter="{'id': 'text' }">
					{{item.id}}
				</td>
				<td sortable="'task.name'"
						filter="{'type': 'text' }">
					{{item.task.name}}
				</td>
				<td sortable="'project.name'"
						filter="{'project': 'text' }">
					{{item.project.name}}
				</td>
				<td ng-if="isAuthorized(userRoles.admin)"
						sortable="'user_id'"
						filter="{'user': 'text' }"
						ng-init="user = (users | filter:{id: item.user_id}:true)[0]">
					{{user.first_name }} {{user.last_name}}
				</td>

				<td sortable="'start'"
						filter="{'start': 'text' }">
					{{item.start.slice(0,10)}}
				</td>
				<td sortable="'duration'"
						filter="{'duration': 'text' }">
					{{item.duration}}
				</td>

				<td sortable="'description'"
						filter="{'description': 'text' }">
					{{item.description}}
				</td>
	 		</tr>
		</tbody>
	</table>
</div>
</div>
